config.js
grapheme-splitter.js

*.txt
*.json
*.csv
*.xlsx
*.zip
*.vcf
*.backup

!common-words.txt

!test/WhatsApp Chat with Pomegranate Community/*.txt
!test/WhatsApp Chat with Pomegranate Community/*.vcf